{% extends '@admin/base.html.twig' %}

{% block title %}{{ 'serviceCategory.edit'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'serviceCategory.edit'|trans }}</h1>

    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">{{ 'serviceCategory.edit'|trans }}</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_admin_dashboard') }}">
                            <i class="bx bx-home-alt"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_crud_index',{entityName: entityName}) }}">
                            <i class="bx bx-list-alt"></i> {{ 'serviceCategory.list'|trans }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'serviceCategory.edit'|trans }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary" type="submit">{{ 'serviceCategory.edit'|trans }}</button>
                    {{ form_end(form) }}
                </div>

                <a class="btn btn-block btn-outline-primary" href="{{ path('app_crud_index',{entityName: entityName}) }}">{{ 'back_to_list'|trans }}</a>

                {{ include('@admin/crud/servicecategory/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
