{% extends "@admin/base.html.twig" %}

{% block title %}
	{{ 'loan.list.title'|trans }}
{% endblock %}

{% block body %}
	<!--breadcrumb-->
	<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
		<div class="breadcrumb-title pe-3">{{ 'loan.list.title'|trans }}</div>
		<div class="ps-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0 p-0">
					<li class="breadcrumb-item">
						<a href="javascript:;">
							<i class="bx bx-home-alt"></i>
						</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">{{ 'loan.list.title'|trans }}</li>
				</ol>
			</nav>
		</div>
	</div>
	<!--end breadcrumb-->
	<div class="row">
		<div class="col-md-12">
			<h6 class="mb-0 text-uppercase">{{ 'loan.list.title'|trans }}</h6>
			<hr/>
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table id="tab2" class="table table-striped table-bordered" style="width:100%">
							<thead>
								<tr>
									<th>{{ 'loan.list.loanNumber'|trans }}</th>
									<th>Email</th>
									<th>Nom complet</th>
									<th>{{ 'loan.list.amount'|trans }}</th>
									<th>{{ 'loan.list.status'|trans }}</th>
									<th>{{ 'loan.list.actions'|trans }}</th>
								</tr>
							</thead>
							<tbody>
								{% for loan in loans %}
									<tr>
										<td>{{ loan.loanNumber }}</td>
										<td>{{ loan.user.email }}</td>
										<td>{{ loan.user.firstname }}
											{{ loan.user.lastname }}</td>
										<td>{{ loan.amount }}</td>
										{% set status = "status." ~ loan.status  %}
										<td>{{ status|trans }}</td>
										<td>
											{% if loan.payStatus == "pending" %}
												<a class="btn btn-primary btn-sm" href="{{ path('admin_loan_pay_info', {'id': loan.id}) }}">Ajouter infos paie</a>
											{% endif %}
											{% if loan.payStatus == "notorder" %}
												<a class="btn btn-outline-dark  btn-sm" href="{{ path('admin_loan_pay_info_update', {'id': loan.id}) }}">Mise à jours infos paie</a>
												<a class="btn btn-success btn-sm" href="{{ path('admin_loan_payment_reminder', {'loanNumber': loan.loanNumber,type:'folder','email': loan.user.email}) }}">{{ 'loan.list.reminder'|trans }}</a>
											{% endif %}
											{% if loan.payStatus == "loanpay" or loan.payStatus == "notreceived" %}
												<a class="btn btn-outline-primary btn-sm" href="{{ path('admin_loan_payment_verify_success', {'loanNumber': loan.loanNumber,type:'folder','email': loan.user.email}) }}">{{ 'loan.list.validatePayment'|trans }}</a>
												<a class="btn btn-outline-primary btn-sm" href="{{ path('admin_loan_payment_verify_not_received', {'loanNumber': loan.loanNumber,type:'folder','email': loan.user.email}) }}">{{ 'loan.list.paymentNotReceived'|trans }}</a>
											{% endif %}
											{% if loan.payStatus == "success" %}
												{% if loan.contractStatus is empty %}
													<a class="btn btn-outline-dark  btn-sm" href="{{ path('admin_loan_pay_info_update', {'id': loan.id}) }}">Mise à jours infos paie</a>
													<a class="btn btn-outline-success  btn-sm" href="{{ path('admin_loan_contract_send', {'loanNumber': loan.loanNumber,type:'contract','email': loan.user.email}) }}">Envoyer le contrat</a>
													<a target="_blank" class="btn btn-outline-primary btn-sm" href="{{ path('admin_loan_contract_preview', {'loanNumber': loan.loanNumber,type:'contract','email': loan.user.email}) }}">{{ 'loan.contract.preview'|trans }}</a>
												{% endif %}
												{% if loan.contractStatus == "submit" or loan.contractStatus == "unsigned" %}
													<a class="btn btn-outline-success btn-sm" href="{{ path('admin_loan_contract_valide_signature', {'loanNumber': loan.loanNumber,type:'contract',state:'signed','email': loan.user.email}) }}">{{ 'btn.contract.signed'|trans }}</a>
													<a class="btn btn-outline-danger btn-sm" href="{{ path('admin_loan_contract_valide_signature', {'loanNumber': loan.loanNumber,type:'contract',state:'unsigned','email': loan.user.email}) }}">{{ 'btn.contract.unsigned'|trans }}</a>
													<a target="_blank" class="btn btn-outline-primary btn-sm" href="{{ path('admin_loan_contract_preview', {'loanNumber': loan.loanNumber,type:'contract','email': loan.user.email}) }}">{{ 'loan.contract.preview'|trans }}</a>
												{% endif %}
												{% if loan.contractStatus == "signed" %}
													<a target="_blank" class="btn btn-outline-primary btn-sm" href="{{ path('admin_loan_contract_preview', {'loanNumber': loan.loanNumber,type:'contract','email': loan.user.email}) }}">{{ 'loan.contract.preview'|trans }}</a>
													{% if loan.payContractStatus == "notorder" %}
														<a class="btn btn-outline-dark  btn-sm" href="{{ path('admin_loan_pay_info_update', {'id': loan.id}) }}">Mise à jours infos paie</a>
														<a class="btn btn-success btn-sm" href="{{ path('admin_loan_payment_reminder', {'loanNumber': loan.loanNumber,type:'contract','email': loan.user.email}) }}">{{ 'loan.list.reminder'|trans }}</a>
													{% endif %}
													{% if loan.payContractStatus == "loanpay" or loan.payStatus == "notreceived" %}
														<a class="btn btn-outline-primary btn-sm" href="{{ path('admin_loan_payment_verify_success', {'loanNumber': loan.loanNumber,type:'contract','email': loan.user.email}) }}">{{ 'loan.list.validatePayment'|trans }}</a>
														<a class="btn btn-outline-primary btn-sm" href="{{ path('admin_loan_payment_verify_not_received', {'loanNumber': loan.loanNumber,type:'contract','email': loan.user.email}) }}">{{ 'loan.list.paymentNotReceived'|trans }}</a>
													{% endif %}
													{% if loan.payContractStatus == "success" %}
														<a class="btn btn-outline-primary btn-sm" href="{{ path('admin_loan_bankinfo', {'loanNumber': loan.loanNumber,type:'contract','email': loan.user.email}) }}">Envoyé banque infos</a>
													{% endif %}
												{% endif %}
											{% endif %}
											<a href="{{ path('admin_loan_show', {id: loan.id}) }}" class="btn btn-info btn-sm">{{ 'loan.list.view'|trans }}</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
