<!--<< About Section Start >>-->
	<section class="about-section fix section-padding">
		<div class="container">
			<div class="about-wrapper">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-image-items">
							<div class="border-shape">
								<img src="{{ asset('theme/land/assets/img/about/border-shape.png') }}" alt="shape-img">
							</div>
							<div class="about-image bg-cover wow fadeInLeft" data-wow-delay=".3s" style="background-image: url({{ asset('theme/land/assets/img/about/about.jpg') }});">
								<div class="about-image-2 wow fadeInUp" data-wow-delay=".5s">
									<img src="{{ asset('theme/land/assets/img/about/about-2.jpg') }}" alt="about-img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 mt-5 mt-lg-0">
						<div class="about-content">
							<div class="section-title">
								<span class="wow fadeInUp">{{ 'aboutCompany'|trans }}</span>
								<h2 class="title-anim">
									{{ 'welcomeToExperienceVisaConsultingFirm'|trans }}
								</h2>
							</div>
							<p class="mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
								{{ 'aboutDescription'|trans({'%siteName%': setting('title')}) }}
							</p>
							<div class="circle-progress-bar-wrapper">
								<div class="single-circle-bar wow fadeInUp" data-wow-delay=".3s">
									<div class="circle-bar" data-percent="68" data-duration="1000"></div>
									<div class="content">
										<h6>
											{{ 'businessStrategy'|trans }}
										</h6>
									</div>
								</div>
								<div class="single-circle-bar wow fadeInUp" data-wow-delay=".5s">
									<div class="circle-bar" data-percent="93" data-duration="1000"></div>
									<div class="content">
										<h6>
											{{ 'realTechnologySolutions'|trans }}
										</h6>
									</div>
								</div>
							</div>
							<ul class="about-list wow fadeInUp" data-wow-delay=".7s">
								<li>
									<i class="far fa-check me-2"></i>
									{{ 'immigrationVisaConsulting'|trans }}
								</li>
								<li>
									<i class="far fa-check me-2"></i>
									{{ 'directOnlineInterview'|trans }}
								</li>
								<li>
									<i class="far fa-check me-2"></i>
									{{ 'visaApprovals'|trans }}
								</li>
							</ul>
							<div class="about-author">
								<div class="about-button wow fadeInUp" data-wow-delay=".8s">
									<a href="{{path('about')}}" class="theme-btn">
										<span>
											{{ 'learnMoreUs'|trans }}
											<i class="fas fa-chevron-right"></i>
										</span>
									</a>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>