{# templates/faq.html.twig #}
<section class="faq-one section-space">
    <div class="container">
        <div class="row gutter-y-50 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                <div class="faq-one__image">
                    <div class="faq-one__image__inner">
                        <img src="{{ asset('theme/loan/assets/images/faq/faq-1-1.jpg') }}" alt="faq">
                    </div>
                    <!-- /.faq-one__image__inner -->
                    <img src="{{ asset('theme/loan/assets/images/shapes/faq-border-1-1.png') }}" alt="border" class="faq-one__image__border">
                </div>
                <!-- /.faq-one__image -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="faq-one__content">
                    <div class="sec-title @@extraClassName">
                        <div class="sec-title__top">
                            <div class="sec-title__shape">
                                <div class="sec-title__shape__one"></div>
                                <!-- /.sec-title__shape__one -->
                                <div class="sec-title__shape__two"></div>
                                <!-- /.sec-title__shape__one -->
                            </div>
                            <!-- /.sec-title__shape -->
                            <h6 class="sec-title__tagline">{{ 'faq.tagline'|trans }}</h6>
                            <!-- /.sec-title__tagline -->
                        </div>
                        <!-- /.sec-title__top -->
                        <h3 class="sec-title__title">{{ 'faq.title'|trans }}</h3>
                        <!-- /.sec-title__title -->
                    </div>
                    <!-- /.sec-title -->
                    <div class="faq-one__accordion">
                        <div class="faq-accordion easilon-accordion" data-grp-name="easilon-accordion">
                            {% for faq in faqs() %}
                                <div class="accordion wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                                    <div class="accordion-title">
                                        <h4>
                                            {{ faq.question|trans|raw }}
                                            <span class="accordion-title__icon"></span>
                                            <!-- /.accordion-title__icon -->
                                        </h4>
                                    </div>
                                    <!-- /.accordion-title -->
                                    <div class="accordion-content">
                                        <div class="inner">
                                            {{ faq.answer|trans|raw }}
                                        </div>
                                        <!-- /.inner -->
                                    </div>
                                    <!-- /.accordion-content -->
                                </div>
                                <!-- /.accordion-item -->
                            {% endfor %}
                        </div>
                        <!-- /.faq-accordion -->
                    </div>
                    <!-- /.faq-one__accordion -->
                </div>
                <!-- /.faq-one__content -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row gutter-y-50 -->
    </div>
    <!-- /.container -->
    <img src="{{ asset('theme/loan/assets/images/shapes/faq-shape-1-1.png') }}" alt="shape" class="faq-one__shape">
</section>
<!-- /.faq-one section-space -->
