{% extends '@emails/layout.html.twig' %}

{% block subject %}
    {{ 'resetpassword.email.subject'|trans }}
{% endblock %}

{% block body %}
    <p>{{ 'resetpassword.email.greeting'|trans }}</p>
    <p>{{ 'resetpassword.email.message'|trans }}</p>
    <a href="{{ url('reset_password', {token: resetToken}, true) }}" class="button">
        {{ 'resetpassword.email.resetlink'|trans }}
    </a>
    <p>{{ 'resetpassword.email.thanks'|trans }}</p>
{% endblock %}
