{% extends '@admin/base.html.twig' %}

{% block title %}{{ 'slider.add'|trans }}
{% endblock %}

{% block body %}
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">{{ 'slider.add'|trans }}</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_admin_dashboard') }}">
                            <i class="bx bx-home-alt"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_crud_index',{entityName: entityName}) }}">
                            <i class="bx bx-list-alt"></i>
                            {{ 'slider.list'|trans }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'slider.add'|trans }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1>{{ 'slider.add'|trans }}</h1>
                    {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.subtitle) }} 
                   {# <div id="editor"></div> #}
                    {{ form_row(form.description) }}

                   

                    {{ form_row(form.image) }}
                    {{ form_row(form.btnText) }}
                    {{ form_row(form.btnUrl) }}
                    {{ form_row(form.isEnabled) }}
                    <button class="btn btn-primary" type="submit">{{ 'slider.add'|trans }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
            <a class="btn btn-block btn-outline-primary" href="{{ path('app_crud_index',{entityName: entityName}) }}">{{ 'back_to_list'|trans }}</a>
        </div>
    </div>
{% endblock %}
