{# templates/emails/password_reset.html.twig #}
{% extends 'emails/email_base.html.twig' %}

{% block subject %}
    {{ 'password_reset.subject'|trans }}
{% endblock %}

{% block content %}
    <p>{{ 'password_reset.greeting'|trans }}</p>
    <p>{{ 'password_reset.message'|trans }}</p>
    <a href="{{ url('app_password_reset_confirm', {token: resetToken}, true) }}" class="button">
        {{ 'password_reset.reset_link'|trans }}
    </a>
    <p>{{ 'password_reset.thanks'|trans }}</p>
{% endblock %}
