{# templates/emails/password_reset.html.twig #}
{% extends '@emails/layout.html.twig' %}

{% block subject %}
    {{ 'passwordreset.subject'|trans }}
{% endblock %}

{% block body %}
    <p>{{ 'passwordreset.greeting'|trans }}</p>
    <p>{{ 'passwordreset.message'|trans }}</p>
    <a href="{{ url('app_password_reset_confirm', {token: resetToken}, true) }}" class="button">
        {{ 'passwordreset.resetlink'|trans }}
    </a>
    <p>{{ 'passwordreset.thanks'|trans }}</p>
{% endblock %}
