{% extends 'emails/email_base.html.twig' %}

{% block subject %}
    {{ 'reset_password.email.subject'|trans }}
{% endblock %}

{% block content %}
    <p>{{ 'reset_password.email.greeting'|trans }}</p>
    <p>{{ 'reset_password.email.message'|trans }}</p>
    <a href="{{ url('reset_password', {token: resetToken}, true) }}" class="button">
        {{ 'reset_password.email.reset_link'|trans }}
    </a>
    <p>{{ 'reset_password.email.thanks'|trans }}</p>
{% endblock %}
