{% extends '@admin/base.html.twig' %}

{% block title %}{{ kycTitle }}{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">{{ 'kyc.breadcrumb.title'|trans }}</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_user_dashboard') }}">
                            <i class="bx bx-home-alt"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'kyc.breadcrumb.current'|trans }}</li>
                </ol>
            </nav>
        </div>
    </div>
    
    <!-- KYC Form Section -->
    <div class="card">
        <div class="card-header text-center">
            <h5 class="card-title text-danger"><i class="bx bx-badge-check" ></i> {{ kycTitle }}</h5>
            <p class="card-text">{{ kycDescription }}</p>
        </div>
        <div class="card-body">
            {{ form_start(form, { 'attr': { 'class': 'kyc-form' } }) }}
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="idDocumentType" class="form-label">{{ form.idDocumentType.vars.label|trans }}</label>
                        {{ form_widget(form.idDocumentType, { 'attr': { 'class': 'form-select' } }) }}
                        {{ form_errors(form.idDocumentType) }}
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="idDocumentFront" class="form-label">{{ form.idDocumentFront.vars.label|trans }}</label>
                                {{ form_widget(form.idDocumentFront) }}
                                {{ form_errors(form.idDocumentFront) }}
                            </div>
                            <div class="col-md-6">
                                <label for="idDocumentBack" class="form-label">{{ form.idDocumentBack.vars.label|trans }}</label>
                                {{ form_widget(form.idDocumentBack) }}
                                {{ form_errors(form.idDocumentBack) }}
                            </div>
                        </div>
                        
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="proofOfAddressType" class="form-label">{{ form.proofOfAddressType.vars.label|trans }}</label>
                        {{ form_widget(form.proofOfAddressType, { 'attr': { 'class': 'form-select' } }) }}
                        {{ form_errors(form.proofOfAddressType) }}
                    </div>
                    <div class="col-md-6">
                        <label for="proofOfAddress" class="form-label">{{ form.proofOfAddress.vars.label|trans }}</label>
                        {{ form_widget(form.proofOfAddress) }}
                        {{ form_errors(form.proofOfAddress) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="integrityDocumentType" class="form-label">{{ form.integrityDocumentType.vars.label|trans }}</label>
                        {{ form_widget(form.integrityDocumentType, { 'attr': { 'class': 'form-select' } }) }}
                        {{ form_errors(form.integrityDocumentType) }}
                    </div>
                    <div class="col-md-6">
                        <label for="integrityDocument" class="form-label">{{ form.integrityDocument.vars.label|trans }}</label>
                        {{ form_widget(form.integrityDocument) }}
                        {{ form_errors(form.integrityDocument) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 offset-md-3">
                        {{ form_row(form.captcha) }}
                        <button type="submit" class="btn btn-outline-dark  w-100">{{ 'kyc.submit'|trans|upper }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
